<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>トイレのクラウドモニター</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="public/css/style.css">
</head>

<body>

<div id="container">

<header>
	<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="JOB INFO"></a></h1>
	<!--メインメニュー-->
	<nav id="menubar">
	<ul>
	<li><a href="">トイレ一覧<span>Recruit</span></a>
		<ul>
		<li><a href="list_building7.html">東京理科大学7号館</a></li>
		<li><a href="list_building16.html">東京理科大学16号館</a></li>
		<li><a href="preparing.html">Coming Soon...</a></li>
		<li><a href="preparing.html">Coming Soon...</a></li>
		</ul>
	</li>
	<li><a href="info.html">利用方法<span>Information</span></a></li>
	<li><a href="faq.html">よく頂く質問<span>Faq</span></a></li>
	<li><a href="contact.html">お問い合わせ<span>Contact</span></a></li>
	</ul>
	</nav>
</header>

<main>

<section>

<h2>よく頂く質問</h2>

<dl class="faq">

<dt>理科大ってどこにあるの？</dt>
<dd>東京理科大学には下記の5つのキャンパスがあります。機会がありましたら是非、足をお運びください。
	メンバーは全員、野田キャンパスに所属しています。
	<ul>
	<li>神楽坂キャンパス神楽坂校舎</li>
	<li>神楽坂キャンパス富士見校舎</li>
	<li>葛飾キャンパス</li>
	<li>野田キャンパス</li>
	<li>北海道・長万部キャンパス</li>
	</ul>
</dd>

<dt>プライバシーが保護されているか心配です</dt>
<dd>当サイトでは、画像をAIで解析し人数をカウントしておりますが、外部とのデータのやり取りはトイレの利用を待っている人数のみに限定しております。
	<br>そのため、個人情報の漏洩の心配はありません。安心してご利用頂けます。
	<br>詳しくは<a href="privacy_policy.html" class="blue-link">個人情報の取り扱い</a>をご覧ください。
	<style>
		.blue-link {
		  color: blue;
		}
	</style>
</dd>

<dt>トイレの利用方法がわかりません</dt>
<dd>当サイトでは、トイレの利用方法をご案内しております。
	<br>詳しくは<a href="info.html" class="blue-link">利用方法</a>をご覧ください。
</dd>

<dt>トイレの場所がわかりません</dt>
<dd>当サイトでは、トイレの場所をご案内しております。
	<br>詳しくは<a href="list_base.html" class="blue-link">トイレ一覧</a>をご覧ください。
</dd>

<dt>女子トイレの混雑状況は確認できないのですか？</dt>
<dd>開発メンバーが全員男性につき、現在、女子トイレの混雑状況は確認できません。
	<br>申し訳ございません。ご理解いただけますと幸いです。
</dd>

<dt>トイレの混雑状況はどのようにして確認しているのですか？</dt>
<dd>当サイトでは、トイレの混雑状況を撮影した画像をAIで解析し、人数カウントや待ち時間の推定を行っております。
	<br>詳しくは<a href="info.html" class="blue-link">利用方法</a>をご覧ください。
</dd>

<dt>トイレの混雑状況はどのくらいの頻度で更新されていますか？</dt>
<dd>当サイトでは、AIが解析した人数を、トイレの設置場所に応じた通信回線でクラウドにアップロードしております。
	<br>通信回線の利用率によっては若干の異なる場合がありますが、概ね以下の通りです。
	<ul>
	<li>東京理科大学7号館&nbsp;&nbsp;(WiFiで通信)&nbsp;&nbsp;&nbsp;&nbsp;：30秒/回</li>
	<li>東京理科大学16号館(ELTRESで通信)：1分/回</li>
	</ul>
</dd>

</dl>

</section>

</main>


<div id="footermenu">
<ul>
<li class="title">メニュー</li>
<li><a href="index.html">ホーム</a></li>
<li><a href="list_base.html">トイレ一覧</a></li>
<li><a href="info.html">利用方法</a></li>
<li><a href="faq.html">よく頂く質問</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
<ul>
<li class="title">トイレ一覧</li>
<li><a href="list_building7.html">東京理科大学7号館</a></li>
<li><a href="list_building16.html">東京理科大学16号館</a></li>
<li><a href="preparing.html">Coming Soon...</a></li>
<li><a href="preparing.html">Coming Soon...</a></li>
</ul>
<ul>
<li class="title">プライバシーポリシー</li>
<li><a href="privacy_policy.html">個人情報の取り扱い</a></li>
</ul>
</div>

<!--/#footermenu-->

<footer>
<small>Copyright&copy; <a href="index.html">JOB INFO</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--job4用のスクリプト-->
<script src="js/main.js"></script>

<!--ハンバーガーボタン（開閉操作のボタン）-->
<div id="menubar_hdr"></div>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#">↑</a></div>

</body>
</html>
