<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>トイレのクラウドモニター</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="public/css/style.css">
</head>

<body class="home">

<!--メイン画像と２つのボタン-->
<div id="mainimg">
<div id="mainimg-inner">
<div><a href="list_base.html">トイレを<span><i class="fas fa-search"></i>探す</span></a></div>
<div><a href="info.html">使い方を<span><i class="far fa-edit"></i>知る</span></a></div>
</div>
<div class="scroll"><img src="public/images/arrow1.gif" alt=""></div>
</div>

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="public/images/logo.png" alt="" width="82" height="82"></a></h1>
<!--メインメニュー-->
<nav id="menubar">
<ul>
<li><a href="">トイレ一覧<span>Recruit</span></a>
	<ul>
	<li><a href="list_building7.html">東京理科大学7号館</a></li>
	<li><a href="list_building12.html">東京理科大学12号館</a></li>
	<li><a href="list_building16.html">東京理科大学16号館</a></li>
	<li><a href="preparing.html">Coming Soon...</a></li>
	</ul>
</li>
<li><a href="info.html">利用方法<span>Information</span></a></li>
<li><a href="faq.html">よく頂く質問<span>Faq</span></a></li>
<li><a href="contact.html">お問い合わせ<span>Contact</span></a></li>
</ul>
</nav>
</header>

<main>

<section>
<h2>"トイレのクラウドモニター"とは？？</h2>
<p></p>
</section>

<section>
<h2>お知らせ</h2>
<dl id="new">
<dt>2023/10/12<span class="icon-bg1">重要</span></dt>
<dd>本ホームページの編集を開始しました。</dd>
</section>

</main>

<div id="footermenu">
<ul>
<li class="title">メニュー</li>
<li><a href="index.html">ホーム</a></li>
<li><a href="list_base.html">トイレ一覧</a></li>
<li><a href="info.html">利用方法</a></li>
<li><a href="faq.html">よく頂く質問</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
<ul>
<li class="title">トイレ一覧</li>
<li><a href="list_building7.html">東京理科大学7号館</a></li>
<li><a href="list_building12.html">東京理科大学12号館</a></li>
<li><a href="list_building16.html">東京理科大学16号館</a></li>
<li><a href="preparing.html">Coming Soon...</a></li>
</ul>
<ul>
<li class="title">プライバシーポリシー</li>
<li><a href="privacy_policy.html">個人情報の取り扱い</a></li>
</ul>
</div>

<!--/#footermenu-->
<footer>
<small>Copyright&copy; <a href="index.html">JOB INFO</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--スライドショー（vegas）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
<script src="js/vegas.js"></script>

<!--job4用のスクリプト-->
<script src="js/main.js"></script>

<!--ハンバーガーボタン（開閉操作のボタン）-->
<div id="menubar_hdr"></div>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#">↑</a></div>

</body>
</html>
