<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>トイレのクラウドモニター</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="public/css/style.css">
</head>

<body class="home">

<!--メイン画像と２つのボタン-->
<div id="mainimg">
<div id="mainimg-inner">
<div><a href="list_base.html">トイレを<span><i class="fas fa-search"></i>探す</span></a></div>
<div><a href="info.html">使い方を<span><i class="far fa-edit"></i>知る</span></a></div>
</div>
<div class="scroll"><img src="public/images/arrow1.gif" alt=""></div>
</div>

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="JOB INFO"></a></h1>
<!--メインメニュー-->
<nav id="menubar">
<ul>
<li><a href="">トイレ一覧<span>Recruit</span></a>
	<ul>
	<li><a href="list.html">東京理科大学7号館</a></li>
	<li><a href="list.html">Coming Soon...</a></li>
	<li><a href="list.html">Coming Soon...</a></li>
	<li><a href="list.html">Coming Soon...</a></li>
	</ul>
</li>
<li><a href="info.html">利用方法<span>Information</span></a></li>
<li><a href="faq.html">よく頂く質問<span>Faq</span></a></li>
<li><a href="contact.html">お問い合わせ<span>Contact</span></a></li>
</ul>
</nav>
</header>

<main>
<!--
<section>

<h2>テンプレートのご利用前に必ずお読み下さい</h2>

<h3>利用規約のご案内</h3>
<p>このテンプレートは、<a href="https://template-party.com/">Template Party</a>にて無料配布している『求人サイト向け 無料ホームページテンプレート tp_job4』です。必ずダウンロード先のサイトの<a href="https://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>
<p><strong class="color-theme">HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong><br>
わざと見えなく加工する事も禁止です。</p>
<p><strong class="color-theme">下部の著作を外したい場合は</strong><br>
<a href="https://template-party.com/">Template-Party</a>の<a href="https://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。</p>

<h3>トップページのスライドショー写真は、配布元サイト（写真ACさん）の規約により再配布できません</h3>
<p><a href="https://www.photo-ac.com/#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">写真AC</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" />さんから「無料」でダウンロードできるので、同じ写真を使いたい場合はACさんの規約を読んだ上で直接ダウンロードして下さい。</p>
<ul style="margin-top: -20px;">
<li><a href="https://www.photo-ac.com/main/detail/4393732#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">１枚目写真のDL先（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" />
</li>
<li><a href="https://www.photo-ac.com/main/detail/4732087#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">２枚目写真のDL先（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" />
</li>
<li><a href="https://www.photo-ac.com/main/detail/22563540#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">３枚目写真のDL先（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" /></li>
</ul>

<h3>当テンプレートにはお問い合わせフォーム（自動フォーム：試用版）がセットされています</h3>
<p><a href="contact.html">contact.html</a>と同じ３項目のお問い合わせフォームを簡単に使えるようにセットしています。</p>
<p><strong class="color-theme">自動フォームを使う場合（※編集に入る前にご確認下さい）</strong><br>
あなたのメールアドレス設定と、簡単な編集だけで使えます。<a href="https://template-party.com/file/formgen_manual_set2.html" target="_blank">詳しくはこちらのマニュアルをご覧下さい。</a></p>
<p><strong class="color-theme">自動フォームを使わない場合</strong><br>
テンプレートに梱包されている「form.html」「confirm.html」「finish.html」の3枚のファイルを削除して下さい。</p>

<h3>当テンプレートの詳しい使い方は</h3>
<p><a href="company.html#about">こちらをご覧下さい。</a></p>

</section>
-->

<section>
<h2>"システム名"とは？？</h2>
<p>システムの説明する。トイレ込むの嫌だよね～的な。</p>
</section>

<section>
<h2>お知らせ</h2>
<dl id="new">
<dt>2023/10/12<span class="icon-bg1">重要</span></dt>
<dd>本ホームページの編集を開始しました。</dd>
<!--
<dt>2022/07/09<span>その他</span></dt>
<dd>form.htmlがサンプル用のファイル(contact.html)と同一内容になっており、そのままでは自動フォームとして使えなくなっていたので修正。</dd>
<dt>2022/01/13<span>その他</span></dt>
<dd>たびたびすみません、まだ問題を残していたので改善しました。1/8の再配布以降ご利用のお客様は、jsフォルダのmain.jsのみ入れ替えて下さい。</dd>
<dt>2022/01/08<span>その他</span></dt>
<dd>job4再配布開始。</dd>
<dt>2021/12/28<span>その他</span></dt>
<dd>tp_job4配布開始。※問題があった為、一日で公開を中止しました。</dd>
<dt>20XX/00/00<span class="icon-bg1">求人情報</span></dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00<span class="icon-bg1">求人情報</span></dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00<span>その他</span></dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
</dl>
-->

</section>

<!--
<section>
<h2>求人向けCMS販売中<span>CMS</span></h2>
<p>求人サイト向けプログラムを販売中です。求人一覧ページ以外に、各詳細ページや専用お問い合わせフォームも出力できます。いずれのタイプも無料で試せる『<a href="https://template-party.com/job_db/siyou.html">試用版</a>』公開中。<br>
<a href="https://template-party.com/job_db/"><img src="https://template-party.com/job_db/images/img01.jpg" alt=""></a></p>
</section>
-->

</main>

<div id="footermenu">
<ul>
<li class="title">メニュー</li>
<li><a href="index.html">ホーム</a></li>
<li><a href="list_base.html">トイレ一覧</a></li>
<li><a href="info.html">利用方法</a></li>
<li><a href="faq.html">よく頂く質問</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
<ul>
<li class="title">トイレ一覧</li>
<li><a href="list.html">東京理科大学7号館</a></li>
<li><a href="list.html">Coming Soon...</a></li>
<li><a href="list.html">Coming Soon...</a></li>
<li><a href="list.html">Coming Soon...</a></li>
</ul>
<ul>
<li class="title">プライバシーポリシー</li>
<li><a href="privacy_policy.html">個人情報の取り扱い</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
</ul>
<ul>
<li class="title">メニュー見出し</li>
<li><a href="#">サンプルメニューサンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
</ul>
</div>
<!--/#footermenu-->

<footer>
<small>Copyright&copy; <a href="index.html">JOB INFO</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--スライドショー（vegas）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
<script src="js/vegas.js"></script>

<!--job4用のスクリプト-->
<script src="js/main.js"></script>

<!--ハンバーガーボタン（開閉操作のボタン）-->
<div id="menubar_hdr"></div>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#">↑</a></div>

</body>
</html>
