<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>トイレのクラウドモニター</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="public/css/style.css">
</head>

<body>

<div id="container">

<header>
	<h1 id="logo"><a href="index.html"><img src="public/images/logo.png" alt="" width="82" height="82"></a></h1>
	<nav id="menubar">
	<ul>
	<li><a>トイレ一覧<span>Recruit</span></a>
		<ul>
		<li><a href="list_building7.html">東京理科大学7号館</a></li>
		<li><a href="list_building12.html">東京理科大学12号館</a></li>
		<li><a href="list_building16.html">東京理科大学16号館</a></li>
		<li><a href="preparing.html">Coming Soon...</a></li>
		</ul>
	</li>
	<li><a href="info.html">利用方法<span>Information</span></a></li>
	<li><a href="faq.html">よく頂く質問<span>Faq</span></a></li>
	<li><a href="contact.html">お問い合わせ<span>Contact</span></a></li>
	</ul>
	</nav>
</header>

<main>


<section>
<h2>マップ</h2>
<figure><img src="public/images/building7.png" style="display: block; margin: auto;" alt="" width="720" height="422"></figure>
</section>

<!-- <section>
<h2>混雑状況</h2>
<body>
 <table border="2" width="50%" height="70%" >
    <tr align="center">
      <th>階数</th>
      <th>女子</th>
	  <th>男子</th>
    </tr>
    <tr align="center">
      <td>1階</td>
      <td>👤👤👤（待ち時間：3分）</td>
	  <td><span id="people_placeholder_1">loading...</span>
		（待ち時間：<span id="table_time_placeholder_1">loading...</span>）</td>
	  
    </tr>
    <tr align="center">
      <td>2階</td>
      <td>👤👤👤（待ち時間：5分以上）</td>
	  <td><span id="people_placeholder_2">loading...</span>
		（待ち時間：<span id="table_time_placeholder_2">loading...</span>）</td>
    </tr>
    <tr align="center">
      <td>3階</td>
      <td>👤👤  （待ち時間：2分）</td>
	  <td>👤👤👤（待ち時間：3分）</td>
    </tr>
    <tr align="center">
      <td>4階</td>
      <td>👤👤👤（待ち時間：3分）</td>
	  <td>👤👤👤（待ち時間：5分）</td>
    </tr>
    <tr align="center">
      <td>5階</td>
      <td>👤👤👤（待ち時間：3分）</td>
	  <td>👤    （待ち時間：1分）</td>
    </tr>
  </table>
</body>
</section> -->

<section>
<h2>男性トイレの混雑状況</h2>
<div class="list2">
	<figure><img src="public/images/toile2.png" alt=""></figure>
	<div>
	<h4>
	<a>7号館1階トイレ</a>
	<span class="icon waku">🚽×４</span>
	<span class="icon option2">混雑状況</span>	

	</h4>
	<style>
		/* 指定されたdl要素に対してスタイルを適用 */
		dl.line {
			line-height: 3; /* 行間の高さを大きくする */
			font-size: 16px; /* フォントサイズを大きくする */
		}
	</style>
		<dl class="line">
		<dt>利用待ち人数</dt>
		<dd><span id="time_placeholder_1">0人</span></dd>
		<dt>混雑状況</dt>
		<dd><span id="congestion_placeholder_1"></span></dd>
		<dt>トイレの個数</dt>
		<dd>4つ</dd>
		<dt>使用可能時間</dt>
		<dd>9:00~21:00</dd>
		</dl>
	</div>
</div>

<div class="list2">
	<figure><img src="public/images/toile1.png" alt=""></figure>
	<div>
	<h4>
	<a>7号館2階トイレ</a>
	<span class="icon waku">🚽×４</span>
	<span class="icon option2">混雑状況</span>	

	</h4>
		<dl class="line">
		<dt>利用待ち人数</dt>
		<dd><span id="time_placeholder_2">0人</span></dd>
		<dt>混雑状況</dt>
		<dd><span id="congestion_placeholder_2"></span></dd>
		<dt>トイレの個数</dt>
		<dd>4つ</dd>
		<dt>使用可能時間</dt>
		<dd>9:00~21:00</dd>
		</dl>
	</div>
</div>

</section>
</main>

<div id="footermenu">
<ul>
<li class="title">メニュー</li>
<li><a href="index.html">ホーム</a></li>
<li><a href="list_base.html">トイレ一覧</a></li>
<li><a href="info.html">利用方法</a></li>
<li><a href="faq.html">よく頂く質問</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
<ul>
<li class="title">トイレ一覧</li>
<li><a href="list_building7.html">東京理科大学7号館</a></li>
<li><a href="list_building12.html">東京理科大学12号館</a></li>
<li><a href="list_building16.html">東京理科大学16号館</a></li>
<li><a href="preparing.html">Coming Soon...</a></li>
</ul>
<ul>
<li class="title">プライバシーポリシー</li>
<li><a href="privacy_policy.html">個人情報の取り扱い</a></li>
</ul>
</div>

<!--/#footermenu-->

<footer>
<small>Copyright&copy; <a href="index.html">JOB INFO</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--ピックアップスライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/slick.js"></script>

<!--job4用のスクリプト-->
<script src="js/main.js"></script>

<!--ハンバーガーボタン（開閉操作のボタン）-->
<div id="menubar_hdr"></div>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#">↑</a></div>

<!--spresense,eltresから取得したデータを自動更新-->
<script src="js/update.js"></script>

<!-- <script>
	// 人数をサーバーから取得（仮定）
	const numberOfPeople = 10;
	
	// 絵文字を生成
	const emoji = "👥";
	
	// 絵文字を表示する要素を取得
	const emojiContainer = document.getElementById("emojiContainer");
	
	// 人数に応じて絵文字を挿入
	for (let i = 0; i < numberOfPeople; i++) {
		emojiContainer.innerHTML += emoji;
	}
</script> -->

</body>
</html>
