<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>トイレのクラウドモニター</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="public/css/style.css">
</head>

<body>

<div id="container">

<header>
	<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="JOB INFO"></a></h1>
	<!--メインメニュー-->
	<nav id="menubar">
	<ul>
	<li><a>トイレ一覧<span>Recruit</span></a>
		<ul>
		<li><a href="list.html">東京理科大学7号館</a></li>
		<li><a href="list.html">Coming Soon...</a></li>
		<li><a href="list.html">Coming Soon...</a></li>
		<li><a href="list.html">Coming Soon...</a></li>
		</ul>
	</li>
	<li><a href="info.html">利用方法<span>Information</span></a></li>
	<li><a href="faq.html">よく頂く質問<span>Faq</span></a></li>
	<li><a href="contact.html">お問い合わせ<span>Contact</span></a></li>
	</ul>
	</nav>
</header>

<main>

<!--
<section>

<h2>ピックアップ求人情報</h2>

<div class="pickup">

<div class="list">
<a href=" ">
	<div>
	<span class="icon waku">正社員</span>
	<span class="icon waku">アルバイト</span>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		</dl>
	</div>
</a>
</div>

<div class="list">
<a href=" ">
	<div>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		</dl>
	</div>
</a>
</div>

<div class="list">
<a href=" ">
	<div>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		</dl>
	</div>
</a>
</div>

<div class="list">
<a href=" ">
	<div>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		</dl>
	</div>
</a>
</div>

<div class="list">
<a href=" ">
	<div>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		</dl>
	</div>
</a>
</div>

<div class="list">
<a href=" ">
	<div>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		</dl>
	</div>
</a>
</div>
</section>
</div>
</.pickup-->





<!--
<div class="list2">
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<div>
	<h4>
	<a href=" ">7号館1階トイレ（女）</a>
	<span class="icon waku">正社員</span>
	<span class="icon waku">アルバイト</span>
	<span class="icon newicon">NEW</span>女
	<span class="icon upicon">UP</span>
	<span class="icon option1">人気</span>
	<span class="icon option2">急募</span>
	<span class="icon option3">終了</span>
	</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>企業名</dt>
		<dd>サンプルカンパニー</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		<dt>勤務地</dt>
		<dd>千葉市中央区</dd>
		<dt>勤務時間</dt>
		<dd>19:00〜　1日3時間程度</dd>
		</dl>
	</div>
</div>
-->

<section>
<h2>混雑具合</h2>
<body>
 <table border="2" width="50%" height="70%" >
    <tr align="center">
      <th>階数</th>
      <th>女子</th>
	  <th>男子</th>
    </tr>
    <tr align="center">
      <td>1階</td>
      <td>👤👤👤（待ち時間：3分）</td>
	  <td>👤👤  （待ち時間：2分）</td>
    </tr>
    <tr align="center">
      <td>2階</td>
      <td>👤👤👤（待ち時間：5分以上）</td>
	  <td>👤👤  （待ち時間：2分以上）</td>
    </tr>
    <tr align="center">
      <td>3階</td>
      <td>👤👤  （待ち時間：2分）</td>
	  <td>👤👤👤（待ち時間：3分）</td>
    </tr>
    <tr align="center">
      <td>4階</td>
      <td>👤👤👤（待ち時間：3分）</td>
	  <td>👤👤👤（待ち時間：5分）</td>
    </tr>
    <tr align="center">
      <td>5階</td>
      <td>👤👤👤（待ち時間：3分）</td>
	  <td>👤    （待ち時間：1分）</td>
    </tr>
  </table>
</body>
</section>

<section>
<h2>個室トイレ（男性）の混雑具合</h2>
<div class="list2">
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<div>
	<h4>
	<a>7号館1階トイレ</a>
	<span class="icon waku">🚽×４</span>
	<span class="icon option2">混雑具合を示す</span>	

	</h4>
		<dl class="line">
		<dt>想定待ち時間</dt>
		<dd>0分</dd>
		<dt>混雑状況</dt>
		<dd><span id="data_placeholder_1">loading...</span></dd>
		<dt>トイレの個数</dt>
		<dd>4つ</dd>
		<dt>使用可能時間</dt>
		<dd>9:00~21:00</dd>
		</dl>
	</div>
</div>

<div class="list2">
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<div>
	<h4>
	<a>7号館2階トイレ</a>
	<span class="icon waku">🚽×４</span>
	<span class="icon option2">混雑具合を示す</span>	

	</h4>
		<dl class="line">
		<dt>想定待ち時間</dt>
		<dd>5分</dd>
		<dt>混雑状況</dt>
		<dd><span id="data_placeholder_2">loading...</span></dd>
		<dt>トイレの個数</dt>
		<dd>4つ</dd>
		<dt>使用可能時間</dt>
		<dd>9:00~21:00</dd>
		</dl>
	</div>
</div>

<div class="list2">
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<div>
	<h4>
	<a>7号館3階トイレ</a>
	<span class="icon waku">🚽×４</span>
	<span class="icon option2">混雑具合を示す</span>	

	</h4>
		<dl class="line">
		<dt>想定待ち時間</dt>
		<dd>2分</dd>
		<dt>混雑状況</dt>
		<dd><span id="data_placeholder_3">loading...</span></dd>
		<dt>トイレの個数</dt>
		<dd>4つ</dd>
		<dt>使用可能時間</dt>
		<dd>9:00~21:00</dd>
		</dl>
	</div>
</div>

<div class="list2">
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<div>
	<h4>
	<a>7号館4階トイレ</a>
	<span class="icon waku">🚽×４</span>
	<span class="icon option2">混雑具合を示す</span>	

	</h4>
		<dl class="line">
		<dt>想定待ち時間</dt>
		<dd>0分</dd>
		<dt>混雑状況</dt>
		<dd><span id="data_placeholder_4">loading...</span></dd>
		<dt>トイレの個数</dt>
		<dd>4つ</dd>
		<dt>使用可能時間</dt>
		<dd>9:00~21:00</dd>
		</dl>
	</div>
</div>

<div class="list2">
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<div>
	<h4>
	<a>7号館5階トイレ</a>
	<span class="icon waku">🚽×４</span>
	<span class="icon option2">混雑具合を示す</span>	

	</h4>
		<dl class="line">
		<dt>想定待ち時間</dt>
		<dd>5分</dd>
		<dt>混雑状況</dt>
		<dd><span id="data_placeholder_5">loading...</span></dd>
		<dt>トイレの個数</dt>
		<dd>4つ</dd>
		<dt>使用可能時間</dt>
		<dd>9:00~21:00</dd>
		</dl>
	</div>
</div>

</section>



</main>


<div id="footermenu">
<ul>
<li class="title">メニュー</li>
<li><a href="index.html">ホーム</a></li>
<li><a href="company.html">トイレ一覧</a></li>
<li><a href="info.html">利用方法</a></li>
<li><a href="faq.html">よく頂く質問</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
<ul>
<li class="title">トイレ一覧</li>
<li><a href="list.html">東京理科大学7号館</a></li>
<li><a href="list.html">Coming Soon...</a></li>
<li><a href="list.html">Coming Soon...</a></li>
<li><a href="list.html">Coming Soon...</a></li>
</ul>
<ul>
<li class="title">メニュー見出し</li>
<li><a href="#">サンプルメニューサンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
</ul>
<ul>
<li class="title">メニュー見出し</li>
<li><a href="#">サンプルメニューサンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
</ul>
</div>
<!--/#footermenu-->


<!--
<section>

<h2>求人一覧（listタイプ）</h2>

<div class="list-container">

<div class="list">
	<div>
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<span class="icon waku">正社員</span>
	<span class="icon waku">アルバイト</span>
	<span class="icon newicon">NEW</span>
	<span class="icon upicon">UP</span>
	<span class="icon option1">人気</span>
	<span class="icon option2">急募</span>
	<span class="icon option3">終了</span>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>企業名</dt>
		<dd>サンプルカンパニー</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		<dt>勤務地</dt>
		<dd>千葉市中央区</dd>
		<dt>勤務時間</dt>
		<dd>19:00〜　1日3時間程度</dd>
		</dl>
	</div>
	<p class="btn"><a href=" ">詳細を見る・応募する</a></p>
</div>

<div class="list">
	<div>
	<figure><img src="images/sample1.jpg" alt=""></figure>
	<span class="icon waku">正社員</span>
	<span class="icon waku">アルバイト</span>
	<span class="icon newicon">NEW</span>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>企業名</dt>
		<dd>サンプルカンパニー</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		<dt>勤務地</dt>
		<dd>千葉市中央区</dd>
		<dt>勤務時間</dt>
		<dd>19:00〜　1日3時間程度</dd>
		</dl>
	</div>
	<p class="btn"><a href=" ">詳細を見る・応募する</a></p>
</div>

<div class="list">
	<div>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>企業名</dt>
		<dd>サンプルカンパニー</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		<dt>勤務地</dt>
		<dd>千葉市中央区</dd>
		<dt>勤務時間</dt>
		<dd>19:00〜　1日3時間程度</dd>
		</dl>
	</div>
	<p class="btn"><a href=" ">詳細を見る・応募する</a></p>
</div>

<div class="list">
	<div>
	<h4>WEBデザイナー募集！未経験歓迎！</h4>
		<dl class="line">
		<dt>求人ナンバー</dt>
		<dd>No.XXX</dd>
		<dt>企業名</dt>
		<dd>サンプルカンパニー</dd>
		<dt>給与・時給</dt>
		<dd>時給1,100円〜　研修期間：時給800円</dd>
		<dt>勤務地</dt>
		<dd>千葉市中央区</dd>
		<dt>勤務時間</dt>
		<dd>19:00〜　1日3時間程度</dd>
		</dl>
	</div>
	<p class="btn"><a href=" ">詳細を見る・応募する</a></p>
</div>

</div>
-->
<!--/.list-container-->
<!--
</section>
-->


<footer>
<small>Copyright&copy; <a href="index.html">JOB INFO</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--ピックアップスライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/slick.js"></script>

<!--job4用のスクリプト-->
<script src="js/main.js"></script>

<!--ハンバーガーボタン（開閉操作のボタン）-->
<div id="menubar_hdr"></div>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#">↑</a></div>

<!--spresense,eltresから取得したデータを自動更新-->
<script src="js/updata.js"></script>

</body>
</html>
